@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.confirmation-mask {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 5px;

  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  animation: appearance 0.3s ease-in;
}

.confirmation-modal {
  position: relative;
  max-width: 400px;
  border-radius: 5px;
  background-color: white;
  z-index: 11;
  animation: appearance 0.3s ease-in;
}

.confirmation-mask--disappear {
  animation: disappearance 0.3s ease-in;
}

.confirmation-modal--disappear {
  animation: disappearance 0.3s ease-in;
}

.confirmation-modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 50px;
}

.confirmation-modal__sub {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: var(--my-gr-color);
}

.confirmation-modal__text {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: var(--my-gr-color);
}

.confirmation-modal__btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 5px 0;
}

.confirmation-modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
  color: #000;
  transition: color 0.3s;
}

.confirmation-modal__close-btn:hover {
  color: red;
}
