.form__toggle-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  color: #4c4c4c;
}

.form__toggle {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50px;

  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.form__toggle-input {
  display: none;
}

.form__toggle-label {
  flex: 1;
  text-align: center;
  z-index: 2;
}

.form__toggle-switch {
  position: absolute;
  top: 3.5px;
  left: 5px;
  width: 48%;
  height: 42px;
  background-color: #ccc;
  border-radius: 20px;
  transition: left 0.4s ease;
}

.form__toggle-switch.right {
  left: calc(100% - 5px - 48%);
}
/* Media */
