.delivery-zones__map {
  flex: 0 0 75%;
  max-width: 75%;
  border-radius: 20px;
  overflow: hidden;
}

/* Media */

@media (max-width: 1200px) {
  .delivery-zones__map {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@media (max-width: 991px) {
  .delivery-zones__map {
    flex: 1;
    max-width: 100%;
    width: 100%;
  }
}
