.menu {
  margin-bottom: 50px;
}

.menu__wrapper {
  width: 100%;
}

.menu__title--margin {
  margin-bottom: 30px;
}

.menu__list {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 15px;
}
