.app {
  display: flex;
  gap: 20px;
}

.app__link {
  display: block;
  width: 120px;
}

.app__link img {
  display: block;
  max-width: 100%;
  height: 40px;
  object-fit: contain;
}

/* Media */

@media (max-width: 460px) {
  .app {
    flex-direction: column;
  }
}
