.button {
  display: block;
  padding: 10px 20px;
  background-color: var(--my-yel-color);
  border: none;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  color: #000;
  cursor: pointer;

  transition: color 0.2s linear, background-color 0.2s linear;
}

.button:hover {
  color: white;
  background-color: var(--my-gr-color);
}

.button:active {
  background-color: #000;
}

.button--disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button--disabled:hover,
.button--disabled:active {
  color: inherit;
  background-color: var(--my-yel-color);
}

.button--show-more {
  border: 1px solid var(--my-gr-color);
  background-color: white;
  color: var(--my-gr-color);
}

.button--show-more:hover {
  background-color: var(--my-gr-color);
  color: white;
}

.button--fedback-form-send {
  padding: 12px 27px;
  border-radius: 25px;
  font-size: 18px;
}

/* Стили для кнопки пагинации */
.pagination-btn {
  padding: 10px 16px;
  border-radius: 48%;
  border: 1px solid var(--my-yel-color);
  font-weight: 500;
  background-color: white;
  color: var(--my-yel-color);
}

.pagination-btn:hover {
  color: #000;
  background-color: var(--my-yel-color);
}

.active--p {
  border: none;
  background-color: var(--my-yel-color);
  color: #000;
}

.active--p:hover {
  color: white;
  background-color: var(--my-gr-color);
}

/* Стили для страницы товара */
.product-btn--size {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
}

/* Стили для Confirmation */
.confirmation-btn--style {
  background-color: #f0f0f0;
  transition: background-color 0.2s linear;
}

.confirmation-btn--style:hover {
  color: #000;
  background-color: #ccc;
}

/* Стиля для Order-total */
.order-total--style {
  width: 100%;
  padding: 13px 20px;
  font-weight: 600;
}

/* Стили для удаления товара в админке */
.admin-product--delete {
  width: 100%;
}

/* Media */

@media (max-width: 768px) {
  .product-btn--size {
    font-weight: 500;
  }

  /* Стиль для добавления товара в админке */
  .admin-product--add {
    width: 100%;
  }
}
