.link {
  display: block;
  padding: 10px 16px;
  background-color: #ffd600;
  border: none;
  border-radius: 20px;
  font-size: 1.3rem;
  text-align: center;
  color: #000;
  cursor: pointer;

  transition: color 0.2s linear, background-color 0.2s linear;
}

.link:hover {
  color: white;
  background-color: var(--my-gr-color);
}

.link--font {
  font-size: 16px;
}

/* Стили для пустой корзины */
.button-cart--empty {
  border: 1px solid var(--my-yel-color);
  color: var(--my-yel-color);
  background-color: white;

  transition: all 0.2s linear;
}

.button-cart--empty:hover {
  background-color: var(--my-yel-color);
  color: #000;
}

.button-cart--empty:active {
  background-color: #b19b1f;
}

/* Стили для Popup корзины */

.cart-popup-style {
  width: 50%;
}

/* Media */
@media (max-width: 768px) {
  .link {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .link {
    padding: 8px 14px;
    font-size: 1.1rem;
  }
}
