.common-form__group-container {
  width: calc(50% - 20px);
}

.common-form__group {
  position: relative;
  width: 100%;
}

.common-form__group--textarea {
  width: 100%;
}

.common-form__item {
  width: 100%;
  padding: 20px 10.5px 5px;

  border: none;
  border-radius: 20px;
  background-color: #f9f9fb;
  color: #575757;
  box-shadow: var(--my-box-shadow);
}

.common-form__item--select {
  width: 100%;

  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="yellow" stroke="yellow" stroke-width="2"><polygon points="6,9 12,15 18,9" /></svg>'); /* Стрелка вниз */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 17px;
}

/* Поворот стрелки вверх, когда селект активен */
.common-form__item--select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="yellow" stroke="yellow" stroke-width="2"><polygon points="6,15 12,9 18,15" /></svg>'); /* Стрелка вверх */
}

.common-form__item:focus {
  outline: none;
}

.common-form__label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 0.9rem;
  opacity: 0.6;
  transition: all 0.3s linear;
}

.common-form__item:focus + .common-form__label {
  top: 8.5px;
  font-size: 0.7rem;
}

.common-form__item:not(:placeholder-shown) + .common-form__label {
  top: 8.5px;
  font-size: 0.7rem;
}

.common-form__label--select {
  top: 7px;
  font-size: 0.7rem;
}

.common-form__text-area {
  overflow: hidden;
  /*  */
  width: 100%;
  padding: 20px 10px 0;
  resize: none;
}

.common-form__text-area:focus + .common-form__label--textarea {
  top: 11px;
  left: 10px;
}

.common-form__text-area:not(:placeholder-shown)
  + .common-form__label--textarea {
  top: 11px;
  left: 10px;
}

.input-border--warning {
  border: 1px solid rgb(254, 155, 25);
}
.required::after {
  content: "*";
  height: 5px;
  margin-left: 3px;
  color: red;
}

.common-form__stars {
  margin: 15px 0;
}

.common-form__star {
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.common-form__star.filled {
  color: var(--my-yel-color); /* цвет активных звезд */
}

/* Media */
@media (max-width: 991px) {
  .common-form__group-container {
    width: 100%;
  }
}
